.cards {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 19px;
}

@media screen and (min-width: 583px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 880px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}