.proflile__vector {
    background-image: url(../../../images/vector-plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 36px 0 0 0;
}

@media screen and (min-width: 880px) {
    .proflile__vector {
        margin: 2px 0 0 242px;
        width: 150px;
        height: 50px;
        background-color: transparent;
        border: solid 2px white;
    }
}