.popup__container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 430px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
    box-sizing: border-box;
}