.profile__content {
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    max-width: 338px;
}

@media screen and (min-width: 880px) {
    .profile__content {
        padding: 0 0 0 30px;
    }
}