.popup__close {
    background: transparent center url(../../../images/close-Icon.svg);
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}

.popup__close:hover {
    opacity: 0.5;
}